body{
    background-color: #333333;
    font-family: Arial,Arial, Helvetica, sans-serif;
    margin: 0;
}

#headofpage{
    left:0;
    right:0;
    top:0;
    z-index: 3;
    position:fixed;
    z-index: 5;
}
.abovenavbar{
    position:relative;
    background: rgb(35,155,77);
    background: linear-gradient(90deg, rgba(35,155,77,1) 0%, rgba(255,255,255,1) 50%, rgba(249,120,12,1) 100%);
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    padding-left: 70px;    
    font-size: 35px;
    overflow: hidden;
    text-shadow: 2px 2px 4px #000000;
}
.abovenavbar img{
    padding: 0;
    position:absolute;
    top:0px;
    right:50px;
    width:200px;
    transform: translatey(200px);
}

.abovenavbar:hover img{
    transform:translatey(-30px);
    transition: 0.3s;
}
.navbar{
    display:flex;
    align-items:center;
    padding:15px;
    background-color: #354758;

}

.navbar ul{
    list-style-type:none;
    margin: 0;
    padding:0;
}
.navbar li{
    float:left;
}
.navbar li:hover{
    text-shadow: 2px 2px 4px #000000;
}

.navbar .linkEdit{
    padding-left:60px;
    text-decoration: none;
    color:#eaeded;
    font-weight: bold;
    font-size: 40px;
}
.navbar .currentpage{
    text-shadow: 2px 2px 4px #000000;
}
.main-body-overlay{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6530987394957983) 37%, rgba(0,0,0,0) 100%);z-index: 2;
    width: 100%;
    height:100%;
}
.main-body{
    position: relative;
    background-image: url("../assets/dublinliffey.webp");
    margin-top:260px;
    padding: 0;
    width:100%;
    height:950px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}
.main-body-text h1{
    position:absolute;
    color: white;
    top:100px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    z-index:4;
    margin-left: 50px;
}
.main-body-text{
    border-style: solid;
    border-color: white;
}
.work-experience-main-body{
    margin:60px;
    padding-top: 250px;
    position:relative;
    color:white;
    height:100%;
}
.education-main-body{
    margin:60px;
    padding-top: 250px;
    position:relative;
    color:white;
    height:100%;
}
.projects-main-body{
    margin:60px;
    padding-top: 250px;
    position:relative;
    color:white;
    height:100%;
}
.hi-text{
    font-size: 70px;
}
.hi-text:hover{
    font-size:80px;
}
.description-text{
    font-size:100px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.description-text:hover{
    font-size:120px;
    transition:0.2s;
}
.description-text-two{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.description-text-three{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.linkedin{
    position: absolute;
    right:100px;
    bottom:150px;
    margin:auto;
    width:500px;
    background-color: white;
    border-radius: 15px;
}
.linkedin:hover{
    width:550px;
    transition:0.3s;
}
.hidden-text{
    display:none;
    color:grey;
}
.hidden-arrow{
    display:none;
}
.description-text:hover + .hidden-text{
    display: inline;
}
.hidden-text-two{
    display:none;
    color:grey;
}
.description-text-two:hover + .hidden-text-two{
    display: inline;
}
.hidden-text-three{
    display:none;
    color:grey;
}
.description-text-three:hover + .hidden-text-three{
    display: inline;
}
.barry-pose{
    padding:0;
    position: absolute;
    right:500px;
    top:0;
    width:30%;
    transform: translatex(2000px);
}
.hi-text:hover .barry-pose{
    transform:translateX(-400px) translateY(-350px);
    transition:0.5s;
}
.hi-text:hover + .hidden-arrow{
    display:inline;
}
.description{
    font-size:20px;
    display:none;
}
.imperva-icon{
    width:60px;
    top:50px;
}
.center-vertically{
    display: flex;
    align-items: center;
}
.job{
    border-style: solid;
    border-color:white;
    margin-bottom: 50px;
    width:1500px;
}
.imperva-icon{
    width:60px;
    top:50px;
}
.job:hover .description{
    display: block;
}
.job:hover .center-vertically{
    text-shadow:  4px 3px 3px #1A242E;
}
.synopsys-icon{
    padding:10px;
    height:30px;
}
.beacon-icon{
    width:60px;
}
.kaseya-icon{
    width:60px;
}
.epicode-logo{
    width:50px;
}
.ucd-logo{
    width:40px;
}
.computer-icon{
    width:50px;
}
.github-logo{
    width:500px;
}
.github-logo:hover{
    width:550px;
    transition:0.3s;
}
.dublin-collective{
    padding-top:50px;
    width:500px;
}
.dublin-collective:hover{
    width:550px;
    transition:0.3s;
}